pipeline/pl_orchestration_recipe_3.json
{
	"name": "pl_orchestration_recipe_3",
	"properties": {
		"activities": [
			{
				"name": "CsvDataFolder Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "CsvDataFolder",
						"type": "DatasetReference"
					},
					"fieldList": [
						"itemName",
						"lastModified",
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "FilterOnCSV",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "CsvDataFolder Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('CsvDataFolder Metadata').output.childitems",
						"type": "Expression"
					},
					"condition": {
						"value": "@endswith(item().name, '.csv')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "FilterOnCSV",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('FilterOnCSV').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "For Each Metadata",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "CsvData",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"itemName",
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "ForEachMetaDataProc",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "For Each Metadata",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[adf].[InsertFileMetadata]",
								"storedProcedureParameters": {
									"FileName": {
										"value": {
											"value": "@{item().name}",
											"type": "Expression"
										},
										"type": "String"
									},
									"ModifiedAt": {
										"value": {
											"value": "@activity('For Each Metadata').output.lastModified",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"UpdatedAt": {
										"value": {
											"value": "@convertFromUtc(utcnow(), 'Eastern Standard Time')",
											"type": "Expression"
										},
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2021-08-18T20:45:32Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}